services:
  binslib:
    build: .
    ports:
      - "8460:3000"
    volumes:
      - ./data:/app/data
      - ./public/covers:/app/public/covers
      - ../epub-converter:/data/epub-converter
    environment:
      - DATABASE_URL=file:/app/data/binslib.db
      - CHAPTERS_DIR=/app/data/compressed
      - ZSTD_DICT_PATH=/app/data/global.dict
      - EPUB_CACHE_DIR=/app/data/epub
      - EPUB_CONVERTER_DIR=/data/epub-converter
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET:-change-me-in-production}
      - NEXTAUTH_URL=http://lib.binscode.site
    restart: unless-stopped
    container_name: binslib
